*{margin: 0;padding: 0; font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;}
h1,h2, h3, h4, h5, h6{
    font-weight: normal;
    color:#284b63;
}
input{
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    width: 70%;
    height: 30px;
    padding-left: 5px;
    outline: none;
}

input[type="submit"]{
    border: none;
    border-radius: 5px;
    background-color: #284b63;
    color: #fff;
    cursor: pointer;
    width: 90.6%;
    height: 38px;
    margin: 5px 4.9%;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: .2s;
}

input[type="submit"]:hover{
    background-color: #3c6e71;
}

p{
    width: 90%;
    color:#353535;
    margin: 10px 5%;
    font-size: .9rem;
}
ul{
    width: 90%;
    margin: 10px 5%;
}
li{
    list-style-type: none;
    font-size: .9rem;
}

a{
    text-decoration: none;
    color: #353535;
}
a:hover{
    color: #3c6e71;
}